form {
  .input {
    margin: 10px 0;
  }

  label {
    display: inline-block;
    width: 160px;
  }

  input, select {
    display: inline-block;
    background: #ffffff;
    border: solid 1px #bdc3c7;
    border-radius: 2px;
    padding: 5px;
  }
}

.loan-form {
  .column {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: none;

    &#column-1 {
      width: 32%;

      .error {
        display: block;
        position: absolute;
        top: 0px;
        left: -160px;
        background: #c0392b;
        padding: 5px 10px;
        color: #fcfcfc;
        border-radius: 2px;
        box-shadow: 0 0 10px #bdc3c7;
        z-index: 1;
        font-size: 0.9em;
      }
    }

    &#column-2 {
      width: 39%;

      .error {
        display: block;
        position: absolute;
        top: 0px;
        left: -160px;
        background: #c0392b;
        padding: 5px 10px;
        color: #fcfcfc;
        border-radius: 2px;
        box-shadow: 0 0 10px #bdc3c7;
        z-index: 1;
        font-size: 0.9em;
      }
    }

    &#column-3 {
      width: 28%;

      .error {
        display: block;
        position: absolute;
        top: 0px;
        right: -160px;
        background: #c0392b;
        padding: 5px 10px;
        color: #fcfcfc;
        border-radius: 2px;
        box-shadow: 0 0 10px #bdc3c7;
        z-index: 1;
        font-size: 0.9em;
      }
    }
  }

  fieldset {
    border-bottom: none;
    border-left: none;
    border-right: none;

    legend {
      padding: 0 5px;
    }
  }

  input {
    width: 120px;
  }

  .input {
    position: relative;
  }

  .loan_amount_payable {
    margin: 40px 0;
  }

  #loan_total_time {
    width: 60px;
  }

  .button {
    display: block;
    margin: 40px auto;
  }
}