* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  background: #ecf0f1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #2980b9;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.message-container {
  text-align: center;
  color: #34495e;

  p {
    display: inline-block;
    font-style: italic;
    font-size: 1.3em;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
  font-weight: 400;
  background: #ecf0f1;
  color: #2c3e50;
}

.table {
  width: 100%;
  margin-bottom: 20px;

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
  }

  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #7f8c8d;
  }
  > caption + thead > tr:first-child > th,
  > colgroup + thead > tr:first-child > th,
  > thead:first-child > tr:first-child > th,
  > caption + thead > tr:first-child > td,
  > colgroup + thead > tr:first-child > td,
  > thead:first-child > tr:first-child > td {
    border-top: 0;
  }

  > tbody + tbody {
    border-top: 2px solid #dddddd;
  }

  .table {
    background-color: #ffffff;
  }

  &.table-striped > tbody > tr:nth-child(odd) {
    > td, > th {
      background-color: #f9f9f9;
    }
  }

  &.table-condensed > thead > tr > th,
  &.table-condensed > tbody > tr > th,
  &.table-condensed > tfoot > tr > th,
  &.table-condensed > thead > tr > td,
  &.table-condensed > tbody > tr > td,
  &.table-condensed > tfoot > tr > td {
    padding: 5px;
  }
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.float-container {
  overflow: hidden;
}

.float {
  float: left;

  &.right {
    float: right;
  }
}

#header {
  padding: 20px;
  font-size: 1.2em;
  background: #16a085;

  h1 {
    font-weight: 900;
    text-transform: uppercase;
  }

  * {
    color: #ecf0f1;
  }
}