#loans-new, #loans-index, #loans-show {
  #main .wrapper {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px #bdc3c7;

    h1 {
      font-weight: 400;
    }
  }

  #loan-initial-costs,
  #loan-recurrent-costs {
    .input {
      margin: 0;
    }

    select, input {
      font-size: 0.9em;
      padding: 2px;
      width: 100%;
    }

    input {
      width: 70px;
    }
  }

  table {
    font-size: 0.95em;
    vertical-align: middle;

    abbr {
      cursor: help;
    }

    .negative {
      color: #c0392b;
    }

    .positive {
      color: #0d6251;
    }

    .editable-field {
      background: #f6f3d9;
      color: #b36554;
      cursor: pointer;
      text-align: center;

      &:hover {
        background: #efe9b7;
        text-decoration: underline;
      }
    }
  }

  .payment_grace_period_type {
    text-align: center;
  }

  #payment-form-modal {
    display: block;
    position: absolute;
    background: #fcfcfc;
    padding: 20px;
    color: #2c3e50;
    border-radius: 2px;
    box-shadow: 0 0 10px #bdc3c7;
  }
}